apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: micro-auth
spec:
  replicas: 1
  selector: { matchLabels: { app: auth-service } }
  template:
    metadata: { labels: { app: auth-service } }
    spec:
      containers:
        - name: auth-service
          image: vasssiim/k8s-auth-auth:1
          imagePullPolicy: IfNotPresent
          env:
            - name: USER_SERVICE_URL
              value: http://user-service.micro-auth.svc.cluster.local:4000
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: micro-auth
spec:
  selector: { app: auth-service }
  ports:
    - port: 5000
      targetPort: 5000

