apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: micro-auth
spec:
  replicas: 1
  selector: { matchLabels: { app: user-service } }
  template:
    metadata: { labels: { app: user-service } }
    spec:
      containers:
        - name: user-service
          image: vasssiim/k8s-auth-user:1
          imagePullPolicy: IfNotPresent
          env:
            - name: MONGO_URL
              value: mongodb://mongo.micro-auth.svc.cluster.local:27017/micro-users
          ports:
            - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: micro-auth
spec:
  selector: { app: user-service }
  ports:
    - port: 4000
      targetPort: 4000

